@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 63.5%;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

p {
  color: #6c757d;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 2em;
}

h1,
h2,
h3,
h4,
label {
  font-family: "Roboto", sans-serif;
  color: rgb(184, 33, 31);
}

body {
  background-color: #000000;
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.draw-border {
  box-shadow: inset 0 0 0 4px rgb(184, 33, 31);
  color: #6c757d;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: rgb(184, 33, 31);
}

.draw-border:hover::before, .draw-border:hover::after {
  border-color: #6c757d;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  margin-top: 70px;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 17px "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  margin-bottom: 52px;
}

.card-footer {
  margin-top: 92px;
  width: fit-content;
  height: fit-content;
  border-top: rgba(187, 2, 2, 0.716) 1px solid;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  flex-direction: row;
  align-content: center;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #5531a8;
  transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.text-colors {
  font-size: 3em;
  font-weight: 900;
  color: rgb(184, 33, 31);
  margin-left: 30px;
}
.text-colors:hover {
  color: #6c757d;
  transition: 0.5s;
}

.button-color {
  background-color: rgb(184, 33, 31);
  font-size: 2em;
}

.bg-nav {
  background-color: #0e0e0e;
}

.bg-btn-a {
  background-color: rgb(184, 33, 31);
  color: #6c757d;
  font-size: 1.8em;
  font-weight: 1.6em;
}
.bg-btn-a:hover {
  background-color: #0e0e0e;
  color: #6c757d;
  transition: 0.5s;
}

.bg-card-body {
  background-color: rgb(0, 0, 0);
}

.text-color-body {
  color: rgb(184, 33, 31);
}

.text-pad {
  margin: 80px 40px;
}

.contacto {
  padding-top: 78px;
}

/* === removing default button style ===*/
.logo1 {
  margin: 7px;
  margin-left: 25px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.logo1 {
  --border-right: 2px;
  --text-stroke-color: rgb(255 255 255 / 0%);
  --animation-color: #ff0019;
  --fs-size: $sizeXL;
  letter-spacing: -1px;
  text-decoration: none;
  font-size: 5em;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-transform: uppercase;
  color: #6c757d;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0);
}

/* this is the text, when you hover on button */
.logo1-text {
  height: 72px;
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.logo1:hover .logo1-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
  -webkit-filter: drop-shadow(0 0 23px var(--animation-color));
}

.card-m-1 {
  margin: 100px 4px;
}

.bg-card-1 {
  background-color: #6c757d;
}
.bg-card-1 .card-body-1 {
  display: flex;
  padding: 50px;
  margin: 50px;
  color: red;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.bg-card-1 .card-body-1 .card-title-1 {
  font-family: "Roboto", sans-serif;
  color: rgb(184, 33, 31);
  font-size: 3em;
  font-weight: bold;
}
.bg-card-1 .card-body-1 .card-p {
  font-size: 2.3em;
  color: #FFFFFD;
}

.scale-up-horizontal-center {
  animation: scale-up-horizontal-center 1s;
  -webkit-animation: scale-up-horizontal-center 1s;
}

@keyframes scale-up-horizontal-center {
  0% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.padre {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
}

.hijo {
  border-radius: 50px;
  margin: 50px;
  padding: 60px;
  width: 40%;
  height: 800px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex-wrap: none;
  box-shadow: -7px -6px 5px 3px rgba(204, 44, 44, 0.58);
  -webkit-box-shadow: -7px -6px 5px 3px rgba(216, 40, 40, 0.58);
  -moz-box-shadow: -7px -6px 5px 3px rgba(204, 40, 53, 0.58);
}
.hijo p {
  color: rgb(193, 10, 10);
  line-height: 1.4em;
  font-size: 2em;
  padding: 30px 0px;
  flex-grow: 1;
}
.hijo img {
  border-radius: 50px;
  display: block;
  width: 80%;
  height: 350px;
  object-fit: fill;
}
.hijo .btn-hijo {
  width: 75%;
  font-size: 1.8em;
  margin: 0px 35px;
  padding: 12px;
  border-radius: 15px;
  background: #0e0e0e;
  color: #F2F2F2;
}

.draw-border {
  box-shadow: inset 0 0 0 4px rgb(184, 33, 31);
  color: #6c757d;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: rgb(184, 33, 31);
}

.draw-border:hover::before, .draw-border:hover::after {
  border-color: #6c757d;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 17px "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}

.btn:focus {
  outline: 2px dotted #dc5555;
}

.button {
  position: relative;
  border: none;
  background: transparent;
  --stroke-color: #ffffff7c;
  --ani-color: rgba(95, 3, 244, 0);
  --color-gar: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  letter-spacing: 3px;
  font-size: 2em;
  font-family: "Arial";
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--stroke-color);
  cursor: pointer;
}

.front-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  background: var(--color-gar);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  overflow: hidden;
  transition: all 1s;
  animation: 8s ani infinite;
  border-bottom: 2px solid transparent;
}

.button:hover .front-text {
  width: 100%;
  border-bottom: 2px solid #03a9f4;
  -webkit-text-stroke: 1px var(--ani-color);
}

@keyframes ani {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 400%;
  }
  100% {
    background-position: 0%;
  }
}
.filters {
  padding: 10px 5px;
}
.filters a {
  color: #6c757d;
  font-size: 2em;
  text-decoration: none;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.filters a:hover {
  color: rgb(184, 33, 31);
  transition: 0.7s;
}
.filters span {
  display: block;
  color: rgb(184, 33, 31);
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 3em;
}
.filters select {
  color: #6c757d;
  font-size: 3em;
  background-color: rgb(0, 0, 0);
  margin-bottom: 10px;
  padding: 10px;
}
.filters li {
  padding-left: 5px;
  list-style: none;
}

.tienda {
  margin: 30px;
  margin-bottom: 50px;
  gap: 70px 6%;
  display: grid;
  grid-template-columns: 15% repeat(2, auto);
  grid-template-rows: 50px repeat(4, auto);
  grid-template-areas: "actions actions actions" "filters prod1 prod2" "filters prod3 prod4" "filters prod5 prod6" "filters prod7 prod8";
}
.tienda .actions {
  padding: 0 30px;
  grid-area: actions;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.8em;
}
.tienda .actions form, .tienda .actions label, .tienda .actions button {
  color: #0e0e0e;
  border-radius: 150px;
  font-size: 1em;
  font-weight: 200px;
}
.tienda .filters {
  grid-area: filters;
  padding: 10px 0px;
}
.tienda .prod1, .tienda .prod8, .tienda .prod7, .tienda .prod6, .tienda .prod5, .tienda .prod4, .tienda .prod3, .tienda .prod2 {
  margin-bottom: 10px;
  padding: 30px;
  margin: none;
  grid-area: prod1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: none;
  display: flex;
  box-shadow: inset 0px 0px 18px 2px #6c757d;
}
.tienda .prod2 {
  grid-area: prod2;
}
.tienda .prod3 {
  grid-area: prod3;
}
.tienda .prod4 {
  grid-area: prod4;
}
.tienda .prod5 {
  grid-area: prod5;
}
.tienda .prod6 {
  grid-area: prod6;
}
.tienda .prod7 {
  grid-area: prod7;
}
.tienda .prod8 {
  grid-area: prod8;
}

.img-prod {
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  width: 68%;
}

.prodTexto p, .prodTexto h2 {
  color: #FFFFFD;
  font-size: 2.3em;
  font-weight: 700;
}

.search {
  --input-line: #cccccc;
  --input-text-color: #808080;
  --input-text-hover-color: transparent;
  --input-border-color: #808080;
  --input-border-hover-color: #999999;
  --input-bg-color: #333333;
  --search-max-width: 250px;
  --search-min-width: 150px;
  --border-radius: 5px;
  --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
}

.search-box {
  max-width: var(--search-max-width);
  min-width: var(--search-min-width);
  height: 35px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  padding: 5px 15px;
  background: var(--input-bg-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: var(--transition-cubic-bezier);
}

.search-box:hover {
  border-color: var(--input-border-hover-color);
}

/*Section input*/
.search-field {
  position: relative;
  width: 100%;
  height: 100%;
  left: -5px;
  border: 0;
}

.input {
  width: calc(100% - 29px);
  height: 100%;
  border: 0;
  border-color: transparent;
  font-size: 1rem;
  padding-right: 0px;
  color: var(--input-line);
  background: var(--input-bg-color);
  border-right: 2px solid var(--input-border-color);
  outline: none;
}

.input::-webkit-input-placeholder {
  color: var(--input-text-color);
}

.input::-moz-input-placeholder {
  color: var(--input-text-color);
}

.input::-ms-input-placeholder {
  color: var(--input-text-color);
}

.input:focus::-webkit-input-placeholder {
  color: var(--input-text-hover-color);
}

.input:focus::-moz-input-placeholder {
  color: var(--input-text-hover-color);
}

.input:focus::-ms-input-placeholder {
  color: var(--input-text-hover-color);
}

/*Search button*/
.search-box-icon {
  width: 52px;
  height: 35px;
  position: absolute;
  top: -6px;
  right: -21px;
  background: transparent;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
}

.search-box-icon:hover {
  background: var(--input-border-color);
}

.btn-icon-content {
  width: 52px;
  height: 35px;
  top: -6px;
  right: -21px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
  opacity: 0.4;
}

.btn-icon-content:hover {
  opacity: 0.8;
}

.search-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 7px;
  right: 15px;
}

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
}
.productos figure {
  width: 30%;
  border-radius: 5px;
  margin: 50px 20px;
  margin-bottom: 50px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex-wrap: none;
  box-shadow: 0px 0px 154px -35px rgb(255, 255, 255) inset;
  -webkit-box-shadow: 0px 0px 154px -35px rgb(255, 255, 255) inset;
  -moz-box-shadow: 0px 0px 154px -35px rgb(255, 255, 255) inset;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.productos figure:hover {
  transform: scale(1.1);
}
.productos figure img {
  display: block;
  width: 90%;
  margin: 30px auto;
}
.productos figure figcaption {
  font-size: 2em;
  color: rgb(193, 10, 10);
  border-radius: 10px;
  width: auto;
  height: 36px;
  text-align: center;
  margin: 20px 30px;
}
.productos figure p {
  font-size: 1.8em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #6c757d;
  flex-grow: 1;
}

.titulo-productos {
  font-size: 5em;
  font-weight: 900px;
  text-align: center;
  padding: 50px;
  color: rgb(184, 33, 31);
  margin-bottom: 0;
}

.headerIMG {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.accordion-collapse {
  background-color: #0e0e0e;
  color: rgb(193, 10, 10);
}

.accordion-button {
  background-color: #0e0e0e;
  color: rgb(184, 33, 31);
  font-size: 1.8em;
}

/* probando forms */
.contenedor-contacto {
  margin-left: 10px;
  background-color: rgb(43, 42, 40);
  border: 1px solid rgb(9, 9, 9);
  margin: 20px auto;
  padding: 50px 100px;
}

.contenedor-contacto h1 {
  font-size: 2.5em;
  color: #f2f2f2;
  font-style: bold;
  text-align: center;
  background-color: red;
}

.contenedor-contacto .form-label {
  font-size: 2.3em;
  color: rgb(242, 242, 242);
  padding: 10px 0px;
}

.form-floating {
  padding-top: 50px;
}

.contenedor-contacto input,
.contenedor-contacto textarea {
  background-color: #313131;
  color: #FFFFFD;
  font-size: 2em;
}

.btn-contacto {
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: none;
}
footer ul {
  margin-top: -23px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer ul li {
  margin: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer ul li a {
  margin-top: 13px;
  font-size: 1.3em;
  color: #FFFFFD;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: linear-gradient(to right, #cf232b, #160709);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
.form div {
  display: flex;
  flex-wrap: wrap;
  max-width: 28rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}
.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255, 255, 255);
  padding: 0.5rem 0.875rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}
.form div input::placeholder {
  color: rgb(216, 212, 212);
}
.form div input:focus {
  border: 1px solid rgb(99, 102, 241);
}
.form div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99, 102, 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209, 213, 219);
}

.btn-publi {
  display: inline-block;
  padding: 8px;
  font-size: 15px;
  font-weight: 400;
  color: #e1e1e1;
  cursor: pointer;
  width: 43%;
  position: relative;
  background-color: #060000;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}
.btn-publi::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(144, 7, 30);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}
.btn-publi:hover::before {
  transform: translateX(0);
}

.contenedor-svg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media (width < 1024px) {
  .productos figure {
    width: 45%;
    padding: 0 20px;
  }
}
@media (width < 768px) {
  .productos figure {
    width: 96%;
  }
  .titulo-productos {
    font-size: 1.6em;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer div {
    margin: 5px;
  }
  .tienda {
    padding: 30px;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "actions" "filters" "prod1" "prod2" "prod3" "prod4" "prod5" "prod6" "prod7" "prod8";
  }
  .tienda .actions {
    justify-content: center;
    font-size: 1em;
  }
  .tienda .filters span, .tienda .filters label, .tienda .filters input[type=checkbox], .tienda .filters ul {
    display: none;
  }
  .prodTexto p, .prodTexto h2 {
    color: rgb(184, 33, 31);
    font-size: 1.8em;
    font-weight: 600;
  }
  .img-prod {
    width: 80%;
  }
  .bg-card-1 .card-body-1 {
    display: flex;
    padding: 15px;
    margin: 0px;
    color: red;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media (width < 660px) {
  .img-error404 {
    width: 300px;
    height: 306px;
  }
}

/*# sourceMappingURL=main.css.map */
