
*{
    
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
h1{
    font-size: 2.3em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.3em;
}
h4{
    font-size: 1rem;
}

p{
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 2.6em;
}
                                        /* empieza nav */

.text-colors{
    font-size: 2.5em;
    font-weight:900;
    color: burlywood;
}
.button-color{
    background-color: burlywood;
    font-size: 2em;
}
.bg-nav{
    background-color: rgba(25, 31, 28, 0.884);
}

                                        /*termina nav  */


h1,
h2,
h3
h4{
    color: burlywood;
    font-family: sans-serif;

}
                                        /* +++++ FOOTER ++++++ */
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(3, 3, 3);
}
footer div svg{
    fill: rgb(182, 155, 121);
    width: 50px;
    height: 150px;
    margin: 5px;
}
footer ul{
    margin-top:12px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
footer ul li{
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
footer ul li a{
    margin-top: 13px;
    font-size: 1.4em;
    color: whitesmoke;
    text-decoration: none;
}
footer a{
    text-decoration: none;
}

                                        /* +++++ FOOTER ++++++ */
body{
    background-repeat: repeat;
    background-attachment:fixed;
    background-image: url(../img/bg/bgAzulado.jpg);
}


                                        /* section inicio */
.section-inicio{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 150px;
    padding-left: 50px;

}
.section-inicio img{
    width: 300px;
    height: 300px;
}
.section-inicio p{
    display: flex;
    flex-direction: row;
    justify-content: center;
}




main {
    background:none;
    color: rgb(192, 176, 176);
}

section h1{
    padding-top: 50px;
}
                                        /* empieza contacto */
.color-switch{
    background-color:red;
}

                                        /* termina contacto */
                                        /* start productos destacados flex */
.productos{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(5, 40, 49, 0.651);
}
.titulo-productos{
    font-size: 4em;
    text-align: center;
    padding: 50px;
    color: burlywood;
    background-color:rgba(5, 40, 49, 0.651);
    margin-bottom: 0;
}
/* ++++++ PRODUCTOS DESTACADOS ++++++ */
.headerIMG{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.productos figure{
    width: 30%;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.productos figure img{
    display: block;
    width: 90%;
    margin: 30px auto;
}

.productos figure figcaption{
    font-size: 1.8em;
    border-radius: 10px;
    width:auto;
    height: 36px;
    text-align: center;
    margin: 20px 30px;
}
.productos figure p{
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: rgb(245, 238, 238);
}

.productos figure button{
    text-align: center;
    width: 75%;
    font-size: 1.8em;
    margin: 0px 35px;
    padding: 12px;
    border-radius: 15px;
    background: rgba(5, 5, 5, 0.664);
    color: burlywood;
}

                                        /* termina productos destacados */

                                        /* empieza productos  grid */
.filters{
    padding: 10px 20px;
}

.filters a{
    color:burlywood;
    font-size: 2em;
    text-decoration: none;
    margin-bottom: 4px;
    text-transform:uppercase;
}

.filters a:hover{
    color:rgb(237, 218, 193);
}

.filters span{
    display: block;
    color:burlywood;
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 2em;
}

.filters select{
    color:burlywood;
    border:20px;
    background-color: rgb(32, 30, 30);
    margin-bottom: 10px;
    font-size: 1.8em;
}

.filters li{
    padding-left: 5px;
    list-style: none;
}
.tienda{
    margin:10px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 15% repeat(2,auto);
    grid-template-rows: 50px repeat(4,auto);
    gap: 20px 10%;
    

    grid-template-areas:
    "actions actions actions"
    "filters prod1 prod2"
    "filters prod3 prod4"
    "filters prod5 prod6"
    "filters prod7 prod8"
}
.tienda .actions{
    padding: 0 30px;
    grid-area: actions;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.8em;
}
.tienda .actions form,
.tienda .actions input,
.tienda .actions button{
    background-color: burlywood;
    color: black;
    border-radius: 150px;
    border: solid 2px rgb(107, 84, 55);
    font-size: 1em;
    font-weight: 200px;
}
.tienda .filters{
    grid-area: filters;
}
.tienda .prod1{
    
    grid-area: prod1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.tienda .prod2{
    grid-area: prod2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tienda .prod3{
    grid-area: prod3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tienda .prod4{
    grid-area: prod4;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tienda .prod5{
    grid-area: prod5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.tienda .prod6{
    grid-area: prod6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tienda .prod7{
    grid-area: prod7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tienda .prod8{
    grid-area: prod8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.img-prod{
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    width: 100%;
    height: 100%;
}
.prodTexto p,
.prodTexto h2{
    color: burlywood;
    font-size: 2em;
    font-weight: 700;
}
.prodButton button{
    font-size: 1em;
    margin: 20px 20px;
    padding: 12px;
    border-radius: 15px;
    background: rgba(5, 5, 5, 0.664);
    color: burlywood;
}

.actions svg{
    fill: rgba(4, 4, 3, 0.726);
    font-size: 1.4em;
}

/********************MEDIAS QUERYS ******************* */
/* segundo breakpoint */
@media (width < 1024px){
    /* Start Flex-box */
    .productos figure{
        width: 45%;
        padding: 0 20px;
    }
    /*  Ends Flex-box */
}
/* primer breakpoint */
@media (width < 768px){
    /* Start flex-box */
    .productos figure{
        width: 96%;
    }
    .titulo-productos{
        font-size: 1.6em;
    }
    /*  Ends Flex-box */
    /* start footer */
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer div{
        margin: 5px;
    }
    /* end footer */
    /* start tienda grid */
    .tienda{
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "actions"
        "filters"
        "prod1"
        "prod2"
        "prod3"
        "prod4"
        "prod5"
        "prod6"
        "prod7"
        "prod8";
    }
    .tienda .actions{
        justify-content: center;
        font-size: 1em;
    }
    .tienda .filters span,
    .tienda .filters label,
    .tienda .filters input[type="checkbox"],
    .tienda .filters ul{
        display:none;
    }
    .prodTexto p,
    .prodTexto h2{
    color: burlywood;
    font-size: 1.8em;
    font-weight: 600;
    }
    .img-prod{
        width: 80%
    }
    /* ends tienda grid */

}




