//footer

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:none;
    ul{
        margin-top: -23px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        li{
            margin: 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            a{
                margin-top: 13px;
                font-size:$sizeM;
                color: $white;
                text-decoration: none;
            }
        }
    }

}

