//variables globales

//colores
$mainColor:rgba(184, 33, 31, 1);;
$secondaryColor:#6c757d;
$keyColor:rgb(193, 10, 10);;
$white:#FFFFFD;
$black:#0e0e0e;
$bgColor:rgba(0, 0, 0, 1);

//fonts
$mainFont: 'Roboto', sans-serif;

//size
$sizeP:2em;
$sizeXL:2.3em;
$sizeL:1.8em;
$sizeM:1.3em;
$sizeS:1em;











